option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: AWS_REGION
    value: aws-region

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RAILS_ENV
    value: production-or-test-or-development

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SLACK_ERROR_WEBHOOK_URL
    value: slack-error-webhook-url

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SHOPIFY_APP_HOST
    value: shopify-app-host

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SHOPIFY_APP_NAME
    value: shopify-app-name

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SHOPIFY_APP_API_KEY
    value: shopify-app-api-key

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: SHOPIFY_APP_SECRET
    value: shopify-app-secret
